<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="title-web">FullStack</h1>
                <p>F8 là nơi học lập trình miễn phí.</p>
                <p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh</p>
                <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
                <br>
                <p>© 2019 MyCV JSC. All rights reserved.</p>
            </div>
            <div class="col-md-3 d-flex flex-column align-items-center">
                <h3>F8</h3>
                <ul class="footer_list">
                    <li>
                        <a href="#">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="#">Câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a href="#">Liên hệ</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3  d-flex flex-column align-items-center">
                <h3>Sản Phẩm</h3>
                <ul class="footer_list">
                    <li>
                        <a href="#">MyCV.vn</a>
                    </li>
                    <li>
                        <a href="#">Fullstack.edu.vn</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3  d-flex flex-column align-items-center">
                <h3>Hộ trợ</h3>
                <ul class="footer_list">
                    <li>
                        <a href="#">Hỗ trợ</a>
                    </li>
                    <li>
                        <a href="#">Đóng góp</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>