<div class="container-fluid" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-9" style="padding: 0;">
      <div class="video__main" style="border-radius: 10px;">
        <iframe
          class="main-videodetail"
          src="https://www.youtube.com/embed/{{idVideo}}"
        ></iframe>
      </div>
    </div>
    <div class="col-md-3" style="padding: 0;">
      <div class="videos__list">
        <h4 style="margin-bottom: 25px; text-align: center;">Danh sách video</h4>
        <div class="videos__item">
          <ul>

            {{#each dtCourse}}
              <li data-slug="{{this.id_video}}" class="{{#if_equal ../idVideo this.id_video}} videos__item-played {{/if_equal}} courses-mp4">
                <span>{{sum @index}}. {{this.name_video}}</span>
              </li>
            {{/each}}

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../../public/js/course.js"></script>