<div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="video__main">
                    <iframe class="main-videodetail" src="https://www.youtube.com/embed/{{id_video}}"></iframe>
                </div>
            </div>
            <div class="col-md-3">
                <div class="videos__list">
                    <h4 style="margin-bottom: 25px; text-align: center;">Danh sách video</h4>
                    <div class="videos__item">
                        {{#each dtCourse}}

                            <div class="video__play">
                                <a href="/course/video/{{this.slug_course}}/{{this.id_video}}">
                                    <h5 class="video__item--title">{{this.name_video}}</h5>
                                </a>
                            </div>

                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
